
.shadow__btn {
  padding: 1px 1px;
  border: none;
  font-size: 17px;
  color: #140f0f;
  border-radius: 50px;
  font-size: 2px;
  text-transform: uppercase;
  transition: 0.5s;
  transition-property: box-shadow;
}

.shadow__btn {
  background: rgba(192, 50, 15, 0);
  box-shadow: 0 0 25px rgba(126, 94, 94, 0.623);
}

.shadow__btn:hover {
  box-shadow: 0 0 5px rgba(151, 136, 135, 0.178),
              0 0 25px rgb(236, 108, 57),
              0 0 50px rgb(73, 28, 7),
              0 0 100px rgb(250, 66, 20);
}

.Pag_inicio{
  background-color: black;
}


.Pag_inicio {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 97vh; /* Esto hará que el contenido ocupe todo el alto de la pantalla */
 /* Cambia el color de fondo a negro */
  color: white; /* Cambia el color del texto a blanco para que sea legible en el fondo negro */
}



.Pag_inicio{
  background-image: url("./Diseño.png");
}