.container {
    display: flex;
    align-items: center; 
    padding: 0px; 
  }
  
  .header {
    margin-right: 28%; 
  }
  
  .logo {
    width: 180px; 
    height: auto; 
  }
  
  .form-container {
    display: flex; 
    align-items: center; 
  }
  

  body{
    background-color: black;
  }

  .logOut{
    align-content: left
    ;
  }


  .containerInput {
    background-color: #000;
    position: relative;
    overflow: hidden;
    margin: 0;
    padding: 0 0 4px 0;
    z-index: 1;
    font-size: 15px;
  }
  
  .containerInput::before {
    content: '';
    width: 110%;
    aspect-ratio: 1;
    position: absolute;
    inset: 0 0 0 0;
    margin: auto;
    animation: rotate6234 2.5s ease-in-out infinite;
    z-index: -1;
    background-image: conic-gradient(from 0deg at 50% 50%, #073AFF00 0%, #FF0000FF 25%, #073AFF00 25%);
  }
  
  .containerInput > input {
    width: 210px;
    height: 30px;
    font-size: inherit;
    color: #fff;
    border: none;
    padding: 8px;
    background-color: #22333b;
    outline: 5px solid #0a0a0a;
  }
  
  .containerInput > input:focus {
    outline: none;
  }
  
  .containerInput > input:not(:placeholder-shown) {
    outline: none;
  }
  
  .containerInput > input:not(:placeholder-shown):valid {
    outline: 4px solid rgb(0, 255, 183);
    border-radius: 0;
  }
  
  @keyframes rotate6234 {
    from {
      transform: rotate(0deg);
    }
  
    to {
      transform: rotate(360deg);
    }
  }
  
  .submit {
    background-color: rgb(224, 26, 26); 
    color: white; 
    border-radius: none;
    padding: 3px 5px; /* Ajusta el espaciado interno del botón */
    cursor: pointer; 
  }
  
  .submit:hover {
    background-color: #333; 
  }
  

