.titulo{
  display: flex;
  justify-content: center; /* Centra horizontalmente */
  align-items: flex-start; /* Alinea en la parte superior verticalmente */
  color: #d34735;
}

.formulario {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 20px;
  border: 2px solid #8d4f47;
  border-radius: 10px;
  background-color: #f7f7f7;
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.2);
  max-width: 60rem;
  
}

.forminput{
  display: flex;
  height: 220px;
}

.Columna{
  flex: 1;
  flex-direction: column;
  padding-left: 90px;
  
}

.labelinput{
  display: flex;
  flex-direction: column;
 
 height: 70px;
 
}

.formulario input {
 
  padding: 5px 50px 5px 2.5px;
  display: block;
  width: 60%; 
  border: none;
  border-bottom: 1px solid #515151;
  background: transparent;

}

 .team-list {
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(4,1fr);
  max-height: 200px;
  overflow: auto;
  margin-bottom: 20px;

}

.itemlist{
  display: flex;

}

.itemlist input{
 width: 10px;
 margin-right: 10px;
 
}

.formulario p{
  color: red;
  margin-top: 5px;
  font-size: 10px;
}











