
.formulario {
  max-width: 70px;
  margin: 9px;
  padding: 20px;
  border: 2px solid #8d4f47;
  border-radius: 10px;
  background-color: #f7f7f7;
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.2);
}

.titulo{
  display: flex;
  justify-content: center; /* Centra horizontalmente */
  align-items: flex-start; /* Alinea en la parte superior verticalmente */
  height: 1vh;
  color: #d34735;

}

/* Estilos para etiquetas */


/* Estilos para campos de entrada */



/* Estilos para la lista de equipos */
.team-list {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: space-between;
}

.team-list div {
  flex: 0 0 calc(33.33% - 10px);
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.team-list input[type="checkbox"] {
  margin-right: 10px;
}

/* Estilos generales para el formulario */
.formulario {
  display: flex;
  flex-direction: column;
  max-width: 400px; /* Ajusta el ancho según tus necesidades */
  margin: 0 auto; /* Centra el formulario horizontalmente */
}

/* Estilos para los campos de entrada */

.formulario input {
  font-size: 10px;
  padding: 5px 50px 5px 2.5px;
  display: block;
  width: 50%; /* Ocupar todo el ancho disponible */
  border: none;
  border-bottom: 1px solid #515151;
  background: transparent;
  margin-bottom: 10px; /* Espacio entre campos */
}


/* Estilos para la animación de la etiqueta cuando el campo está enfocado o tiene un valor */
/* .formulario input:focus ~ label, .formulario input:valid ~ label {
  top: -10px;
  font-size: 14px;
  color: #f58443;
} */

/* Estilos para la línea bajo el campo de entrada */


.formulario .bar:before,
.formulario .bar:after {
  content: '';
  height: 2px;
  width: 0;
  bottom: 1px;
  position: absolute;
  background: #d34735;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}

.formulario .bar:before {
  left: 0;
}

.formulario .bar:after {
  right: 0;
}

.formulario input:focus ~ .bar:before,
.formulario input:focus ~ .bar:after {
  width: 50%;
}

/* Estilos para resaltar durante la animación */
.formulario .highlight {
  position: absolute;
  height: 60%;
  width: 100px;
  top: 25%;
  left: 0;
  pointer-events: none;
  opacity: 0.5;
}

.formulario input:focus ~ .highlight {
  animation: inputHighlighter 0.3s ease;
}

/* Keyframes para la animación de resaltado */
@keyframes inputHighlighter {
  from {
    background: #5264AE;
  }
  to {
    width: 0;
    background: transparent;
  }
}



.svg-container {
  position: relative;
  display: inline-block; /* Para que el contenedor solo ocupe el espacio necesario */
}

.svg-wrapper {
  position: relative;
  width: 190px;
  height: 60px;
  text-align: center;
  cursor: pointer;
  z-index: 1; /* Asegura que el elemento SVG quede detrás del botón */
}

.shape {
  stroke-dasharray: 100 300;
  stroke-dashoffset: -297;
  fill: transparent;
  stroke: rgb(220, 20, 60);
  stroke-width: 5px;
  transition: stroke-width 1s, stroke-dashoffset 1s, stroke-dasharray 1s;
}

.button {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: none;
  border: none;
  cursor: pointer;
  z-index: 2; /* Asegura que el botón quede encima del elemento SVG */
}

.svg-wrapper:hover .shape {
  stroke-width: 2px;
  stroke-dashoffset: 0;
  stroke-dasharray: 760;
}

.svg-wrapper:hover {
  background-color: rgba(220, 20, 60, 0.2);
  transition: 1s;
}